html {
        font-size: 22px;
      }
    
body {
        background-color: #ffffff;
        color: #000000;
      }

a {
        color: black;
      }
a:visited {
        color: rgb(255, 0, 212);
      }
a:hover, a:active {
        color: red;
      }

table, tr, th, td, caption {
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
        border-collapse: collapse;
        padding: 0.5rem;
      } 
