html {
        font-size: 22px;
      }
    
body {
        background-color: #ffffff;
        color: #000000;
      }

a {
        color: black;
      }
a:visited {
        color: aliceblue;
      }
a:hover, a:active {
        color: red;
      }
